.custom-navbar {
    background-color: aliceblue; 
}

.navbar-toggler {
    border-color: #070340;

    &.navbar-toggler-icon {
        background-image: none;

        &::before {
            content: '';
            display: block;
            width: 25px;
            height: 3px;
            background-color: #070340;
            position: absolute;
            top: 7px;
            left: 0;
            transition: background-color 0.3s ease;
        }
        
        &::after {
            content: '';
            display: block;
            width: 25px;
            height: 3px;
            background-color: #070340;
            position: absolute;
            top: 14px;
            left: 0;
            transition: background-color 0.3s ease;
        }
        
        &:hover {
            &::before,
            &::after {
                background-color: lighten(#070340, 20%);
            }
        }
    }
}
